p {
  text-align: center;
}

.section-title {
  color: blueviolet;
  padding: 2.5%;
  margin: 0%;
}

.players,
img {
  width: 30%;
  padding: 2%;
  //float: left;
}
.player-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.players {
  display: flex;
  justify-content: left;
  gap: 10px;
}

.top-players {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  height: 270px;
  width: 900px;
}
